{% extends 'layout.html.twig' %}

{% block content %}

    <!-- Button tag with ngClick directive, and
           string expression 'buttonText'
           wrapped in handlebar markup -->
    <h1 class="title">{{data.title}}</h1>
    <small>{{data.source}}</small>
    <p>{{data.description}}</p>


{% endblock %}
